name: Docker Security Scan

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
        description: App name or service name / use repository name by default.
      dockerfile_path:
        required: false
        type: string
        description: Path to the Dockerfile. Default is Dockerfile.
        default: Dockerfile
      docker_context:
        required: false
        type: string
        description: Path to the build context. Default to the workspace
        default: ''
    secrets:
      BUILD_ARGS:
        required: false
        description: Comma separated list of extra build-args for docker (build-time variables)
      CLEVER_DOCKER_REGISTRY:
        required: true

env:
  IMAGE_NAME: ${{ secrets.CLEVER_DOCKER_REGISTRY }}/${{ inputs.project_name }}
  
jobs:
  build-scan:
    name: Docker Build & Scan
    runs-on: gke-runner
    environment: staging
    if: (github.actor != 'dependabot[bot]' && github.ref_type != 'tag')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Default tag
        id: tags
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Docker Metadata
        uses: docker/metadata-action@v3
        id: metadata
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            ${{ steps.tags.outputs.sha_short }}

      - name: Kaniko build & export
        uses: bymarshall/kaniko-action@v1.0.5
        if: ${{ github.ref_name != 'master' }}
        with:
          push: false
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          tar_file: image.tar
          file: ${{ inputs.dockerfile_path }}
          context: ${{ inputs.docker_context }}
          build_args: ${{ secrets.BUILD_ARGS }}
          cache: false # Do not use cache used with push: false
          snapshot_mode: redo
          use_new_run: true

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          ignore-unfixed: true
          input: image.tar
          exit-code: 1
          severity: 'CRITICAL,HIGH'
          security-checks: vuln,config